.carousel {
  padding: 1rem;
  transition: all 0.2s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.slides {
  height: 21rem;
  transition: all 0.2s;
}

.slide {
  background: #5a245a;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
  border: 1px solid;
  overflow: hidden;
  animation: fade 0.2s linear reverse;
  transition: all 0.2s;
}

.slide-left {
  height: 100%;
  padding: 2rem 3.5rem;
  background: url("../../assets/banner-bg.svg") center/ cover no-repeat;
  transition: all 0.2s;
}
.slide-left p {
  text-transform: uppercase;
  transition: all 0.2s;
}

.slide-left h2 {
  font-size: 2rem;
  margin: 0rem auto;
  font-weight: 500;
  transition: all 0.2s;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem 0rem;
  width: 85%;
  transition: all 0.2s;
}

.indicator {
  display: flex;
  align-items: center;
}
.indicator-bar {
  width: 80px;
  height: 2px;
  background: #ffffff42;
  margin: 0rem 1rem;
}

.bar {
  width: 50%;
  height: 100%;
  background: #fff;
  display: block;
}
.bar-full {
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
}

.arrow {
  margin: 0rem 0.5rem;
  width: 2.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.slide-right {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 60rem) {
  .carousel {
    padding: 1rem 0rem;
  }
  .slides {
    height: 18rem;
  }
  .slide-left {
    padding: 1rem;
    text-align: center;
  }

  .slide-left h2 {
    font-size: 1.5rem;
  }
  .controls {
    flex-direction: column;
    width: 100%;
    margin: 0.5rem auto;
  }
  .arrow {
    width: 1.8rem;
  }
}

@media screen and (max-width: 35rem) {
  .slides {
    height: auto;
  }
  .slide {
    grid-template-columns: 70% 30%;
  }
  .slide-left p {
    font-size: 0.875rem;
  }

  .slide-left h2 {
    font-size: 1.2rem;
  }
  .arrow {
    width: 1.2rem;
  }
}
